################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MongoAndCSharp/v16
/MongoAndCSharp/bin/Debug
/MongoAndCSharp/obj/Debug
/packages
